html {
	background: #F5B041;
}

.r1, .r2,  .r3, .r4 { 
  display:  block;
  height:  1px;
  background:  lavender;
  overflow: hidden;
}
.r1 { margin: 0 25em 0 25em; }
.r2 { margin: 0 25em 0 25em; }
.r3 { margin: 0 25em 0 25em; }
.r4 { margin: 0 25em 0 25em; height: 2px; }

.block-round-content  {
    background: lavender;  Цвет фона 
    color: black;
    padding: 2em;
    margin: 0 25em 0 25em;
}

.password {
	margin-top: 5px;
}

.map {
  min-width: 1245px;
  max-width: 75%;
  margin: 0 auto;
  padding: 0;
}

.map-inner {
  min-width: 960px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.regb {
    text-decoration: none;
}

.about {
    background: lavender;
    font-size: 24px;
    margin: 0 50px 0 50px;
    border: solid 1px lavender;
}
