/*#search-form {
	width: 150px;
	height: 25px;
	padding-left: 20px;
	padding-right: 20px;
	color: #ccc;
	border-radius: 40px;
	outline: none;
	border: none;
}

.container-form button {
	background-color: transparent;
	border: none;
}

.image {
	position: relative;
	padding-top: 10px;
}*/
